.container-content{

   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 15px;
}
.container-content >a >img {
  max-width: 30x;
  max-height: 30px;
  margin-top: 10px;

}

.content-cover {


}

.content-cover > img {
  width: 600px;
  min-width: 500px;
  height: 400px;
}

.content-description {
  margin-top: 15px;
}

.content-description >p {
  margin-top: 20px;
  color: grey;
  margin-left: 300px;
  margin-right: 300px;
}
